<%- include('partials/header') %>
    <%- include('partials/navbar') %>
    <%- include('partials/modal') %>

        <!-- Loader -->
        <div id="loader" class="d-none position-fixed top-50 start-50 translate-middle" style="z-index: 1051;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="container">
            <!-- Filtros Laterais -->
            <!--div class="col-md-2 border rounded" id="filters">
                <div class="mb-3">
                    <label for="filter-finish" class="form-label fw-bold"># Finish</label>
                    <select class="form-select form-select-sm" id="filter-finish">
                        <option value="all">Todas</option>
                        <option value="color">Color</option>
                        <option value="holo">Holo</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
                <div id="filters-container"></div>

            </div-->

            <!-- Conteúdo das Abas -->
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="tabela" role="tabpanel" aria-labelledby="tabela-tab">
                    <!-- Tabela de Resultados -->
                    <div class="table-responsive">
                        <table class="table table-striped" id="results-table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>traits</th>
                                    <th>ilv</th>
                                    <th>data</th>
                                    <th>finish</th>
                                    <th>$</th>
                                    <th>links</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Resultados serão inseridos aqui -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="grafico" role="tabpanel" aria-labelledby="grafico-tab">
                    <!-- Gráfico de Linha -->
                    <canvas id="line-chart"></canvas>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>