<!-- Modal -->
<div class="modal modal-dialog-scrollable" id="meuModal" tabindex="-1" aria-labelledby="meuModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="meuModalLabel">Bem-vindo!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="feature col">

          <h3 class="fs-5 text-body-emphasis">Donates</h3>
          <p>Metamask: 0x4d8b7418c183dcac7861a3a8a454f72b5b60501c</p>
          <p>Immutable/Illuvium: 0x4d8b7418c183dcac7861a3a8a454f72b5b60501c</p>
          
          <hr>

          <h3 class="fs-5 text-body-emphasis">Informações gerais</h3>
          <span>Por falta de tempo e experiencia na area de programação, as atualizações seram devagar.
            No momento, estou encontrando dificuldades para conseguir listar os illuvials de forma mais precisa,
            e durante alguns testes, buscas acimas de 350 resultados, pode levar cerca de ~2mins para serem
            carregadas.
          </span><br>
          <span>
            Caso você tenha experiencia e queira contribuir, esse é o link publico do projeto no github.
            <a href="https://github.com/alexjunior7000/market-ilv" target="_blank"
              rel="noopener noreferrer">#Projeto</a>
          </span><br>
          <span>
            Atualmente, ele esta hospedado na minha conta na vercel no plano gratuito com as limitações de
            requisições.
          </span>
          <hr>

          <h3 class="fs-5 text-body-emphasis">Parametros da pesquisa</h3>
          <dl class="row">
            <dt class="col-sm-3">illuvial</dt>
            <dd class="col-sm-9">o nome do illuvial que quer Pesquisar</dd>

            <dt class="col-sm-3">Activity/Venda (Listados)</dt>
            <dd class="col-sm-9">Activity é a lista dos illuvials vendidos, Venda (Listados) são os illuvials a venda
              no market</dd>

            <dt class="col-sm-3">wallet</dt>
            <dd class="col-sm-9">lista os illuvials da carteira (com o uso deste paramentro, pode deixar vazio o campo
              illuvial)</dd>
          </dl>

          <hr>

          <h3 class="fs-5 text-body-emphasis">Filtros</h3>
          <p>Por enquanto, os filtros servem para filtrar somente os illuvials carregados pela pesquisa</p>
          <p>O filtro <b>F</b> refere-se a finalidade que pode ser <i>color(default), holo ou dark</i></p>
          <p>Os demais filtros são referentes a Attack Damage, Attack Speed, Health, Movement Speed, Resistance e
            Omega Power</p>

          <hr>

          <h3 class="fs-5 text-body-emphasis">Tabela e Grafico</h3>
          <dl class="row">
            <dt class="col-sm-3">Tabela</dt>
            <dd class="col-sm-9">Lista os illuvials carregados da pesquisa</dd>
            <dt class="col-sm-3">Grafico</dt>
            <dd class="col-sm-9">Ainda no começo, mas no futuro servirá para ter mais uma opções de analise visual. É
              possível usar os filtros no gráfico</dd>
          </dl>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>